l*.pyc
*.swp
piratebox/piratebox/version
piratebox/piratebox/www/chat_content.html
image_stuff/*
piratebox/piratebox/bin/miniircd.py
piratebox_ws_*
piratebox-ws_*
.DS_Store
._.DS_Store
piratebox/piratebox/tmp/*
!piratebox/piratebox/tmp/.gitkeep
piratebox/piratebox/conf/dnsmasq_generated.conf
piratebox/piratebox/conf/hosts_generated
piratebox/piratebox/conf/init_done
